:root {
  --bg: #002221;
  --text: #717978;
  --text-light: #e2e2e2;
  --primary: #00ffd4;
  --quaternary: #00fffd;
  color: var(--primary);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  height: 15vh;
  font-weight: 700;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  color: var(--bg);
}

button {
  margin: 15px;
  font-size: 1rem;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 5px;
  color: var(--text-light);
}

p {
  font-size: 2.2rem;
  font-weight: 300;
  color: var(--text-light);
}

.container {
  position: relative;
  width: 80vw;
  height: 60vh;
  border: var(--primary);
  border-style: solid;
  border-width: 1px;
  padding: 40px;
  border-radius: 25px;
  box-shadow: 3px 5px 10px 1px rgba(115, 115, 115, 0.1);
  background-color: rgba(195, 205, 217, 0.1);
  backdrop-filter: blur(
    2px
  ); /* Ajusta el nivel de blur según tus necesidades */
  z-index: 1; /* Asegura que el blur está sobre otros elementos de fondo */
}

/* From Uiverse.io by ke1221 */
#portfolioBtn {
  width: 210px;
  color: var(--secondary);
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid var(--text);
  box-shadow: 4px 4px 12px 5px;
}

#portfolioBtn:hover {
  background: var(--primary);
  color: var(--bg);
  transition: all 0.3s ease-in-out;
}

.portfolio {
  display: none;
  overflow: auto;
}

.principal {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.lista {
  display: flex;
  flex-direction: column;
  height: 20vh;
  width: 60vw;
  margin: 0;
  border-bottom: 1px solid var(--primary);
  overflow: auto;
}

.container > * {
  position: relative; /* Mantén los hijos en su lugar */
  z-index: 2; /* Asegura que el contenido no sea afectado por el blur */
}

img {
  width: 400px;
}

.info {
  display: flex;
  width: 100%;
}

span {
  font-weight: 600;
  font-size: 1.5rem;
}

.icons {
  height: 40px;
  display: flex;
  margin-top: 10px;
}

.icon {
  width: 40px;
}

.icon:hover {
  cursor: pointer;
  /* box-shadow: #3d4c68 0px 0px 10px; */
}

/* contenedor */
/* Oculta el portfolioSection por defecto */
#portfolioSection {
  display: none;
  overflow-x: auto; /* Permite desplazamiento horizontal */
  white-space: nowrap; /* Tarjetas en línea */
  width: 100%; /* Ajuste al contenedor */
  height: 100%; /* Ajuste al contenedor principal */
  padding: 20px;
  box-sizing: border-box;
}

#portfolioSection::-webkit-scrollbar {
  -webkit-appearance: none;
}

#portfolioSection::-webkit-scrollbar:horizontal {
  height: 13px;
}
#portfolioSection::-webkit-scrollbar:vertical {
  display: none;
}

#portfolioSection::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 20px;
  border: 1px solid var(--t);
}

.card {
  display: inline-block;
  background-color: var(--text-light);
  margin-right: 10px;
  padding: 20px;
  width: 80%;
  height: 90%;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  white-space: normal;
  color: var(--bg);
}

.card img {
  width: 300px;
}

/* Colores para México */
strong p {
  display: inline-block;
}
.v {
  color: green;
  border: 1px solid green;
  padding: 1px;
}

.b {
  color: white;
  border: 1px solid white;
  padding: 1px;
}

.r {
  color: red;
  border: 1px solid red;
  padding: 1px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  width: 100%;
  position: absolute;
  bottom: 0;
}

/* Responsive para la página  */

@media only screen and (min-width: 144px) and (max-width: 649px) {
  img {
    width: 250px;
  }
  .container {
    width: 70%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .info {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
  img {
    width: 250px;
  }
  
  .principal {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1240px) {
  header {
    height: 10vh;
  }

  .container {
    padding: 15px;
    width: 70%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 2.2rem;
  }

  p {
    font-size: 1.5rem;
  }

  img {
    width: 300px;
  }
  span {
    font-size: 1.2rem;
    font-weight: 400;
  }
  .principal {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
